@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Open+Sans&family=Roboto:wght@300&display=swap');

body {
    
    background-color: white;
    color: black;

  }

  .dark-mode {
    background-color: #282a36;
    color: white;
  }

.navbar {
    background-color: black;
}

.nav-link {
    font-size: 1.3em;
    color: #fff;
}



#home {
    padding: 100px 0px 100px 0px;
}

#name {
    padding: 100px 0px 100px 0px;
}

#name h1 {
    font-size: 8em;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}

#about {
    padding: 50px 0px 100px 0px;
}

#skills {
    padding: 50px 50px 100px 50px;
}

#projects {
    padding: 50px 0px 100px 0px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.card a {
    text-decoration: none;
    color: #000;

}




.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #000;
    color: white;
    text-align: center;
  }