@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Open+Sans&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap');


:root {
    --dark01: black;
    --dark02: #282a36;
    --light01: #fff;
    --light02: #282a36;
    --bg: #fff;
    --fg: #000;
    --grey: grey;
    --white: white;
    --red: #ff5555;
    --green: #50fa7b;
    --yellow: yellow;
    --blue: blue;
    --magenta: #ff79c6;
    --cyan: #8be9fd;
    --orange: #ffb86c;
    --purple: #bd93f9;
}

.dark-mode {
    --base04: black;
    --bg: #000;
    --fg: #fff;
    --bg2: #44475a;
    --dark1: grey;
    --dark2: grey;
    --base01: grey;
    --base00: grey;
    --base0: white;
    --base1: grey;
    --base2: white;
    --base3: white;
    --red: #ff5555;
    --green: #50fa7b;
    --yellow: yellow;
    --blue: blue;
    --magenta: #ff79c6;
    --cyan: #8be9fd;
    --orange: #ffb86c;
    --purple: #bd93f9;

}

body {

    background-color: var(--bg);
    color: var(--fg);


}


.navbar {
    background-color: var(--fg);
}

.nav-link {
    font-size: 1.3em;
    color: var(--bg);
}



#home {
    padding: 100px 0px 100px 0px;
}

#name {
    padding: 100px 0px 100px 0px;
}

#name h1 {
    font-size: 8em;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}

#name h3 {

    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
}

#contact {
    padding: 50px 0px 100px 0px;
}

#skills {
    padding: 50px 50px 100px 50px;
}

#projects {
    padding: 50px 0px 100px 0px;
}


#social {
    padding: 50px 0px 100px 0px;
    color: #fff;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.card a {
    text-decoration: none;
    color: #000;

}

.bi {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.project h2 {
    font-family: 'IBM Plex Mono', monospace;
}

.project h3 {
    font-size: 1.2em;
    font-family: 'IBM Plex Mono', monospace;
}

.badge {
    background-color: #df0e4d;
    padding: 8px;

}

#tech-used {
    font-family: 'IBM Plex Mono', monospace;
    padding: 0px 0px 1000px 0px;
}

#tech-used li {
    list-style: none;
    float: left;
    padding: 0px 5px;

}

#tech-used a {

    text-decoration: none;



}


.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: var(--fg);
    color: var(--bg);
    text-align: center;
}