#home {
    padding: 100px 0px 100px 0px;
}
#home h1 {
    font-size: 8em;
}

#about {
    padding: 50px 0px 100px 0px;
}

#skills{
    padding: 50px 50px 100px 50px;
}

#projects {
    padding: 50px 0px 100px 0px;
}